

.links {
  list-style-type: none;
  height: 3em;
  // margin-top: 0;
  // float: right;
}

.links li {
  display: inline-block;
  padding-right: 3em;
}

.navbar {
  background-color: rgba(174, 194, 196, 0.226);
  // margin-top: 3em;
}



