#welcome {
  text-align: center;
  font-family: georgia;
}

.login-container {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

.links {
  display: flex;
  justify-content: space-around;
  height: 46px;
  align-items: 0 10px;
  padding: 0 10px;
  border: 1px solid rgba(238, 238, 238, 1);
  border-radius: 5px;
  color: rgba(117, 117, 117, 1);
  box-shadow: 5px 10px 20px -20px;
  margin-top: 1.3em;
}

.link:hover {
  color: rgba(85, 172, 238, 1);
}

.link {
  cursor: pointer;
  display: flex;
  font-family: georgia;
  padding: .5em;
}

.navbar {
  background-color: rgba(174, 194, 196, 0.226);
}

.boardPrev {
  display: inline-block;
  width: 27%;
  height: 15rem;
  margin: 2vw;
  padding: .4vw;
  // border-radius: 11%;
  cursor: pointer; // border: .2vw double darkslateblue;
  // max-width: 18vw;
  
.imgBox {

      // max-width: 90%;
      height: 100%;
      margin: .2em auto;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      border-radius: 11%;

  
    
 
}

.deleteBoardBtn {
  cursor: pointer;


}

  .imgBox {
    // max-width: 90%;
    height: 100%;
    margin: .2em auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    // border-radius: 11%;
  }
  .deleteBoardBtn {
    cursor: pointer;
    position: absolute;
    margin-left: 22%;
    margin-top: 1%;
    background: none;
    border: none;
  }

}

.imgBox {
  // max-width: 90%;
  height: 100%;
  margin: .2em auto;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  // border-radius: 11%;
}

.boardTitle {
  color: black;
  -webkit-text-fill-color: white;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 1.3rem;
}

// class for all pins. set up in grid
.allPins {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

// class for individual pins. also set up in grid for button, img and title.
.pinDiv {
  display: grid;
  grid-template-rows: 3;
  border: 10px solid grey;
  border-radius: 4px;
  height: 450px;
  width: 420px;
}

// image pin sizing
.pinDiv a {
  margin-left: auto;
  margin-right: auto;
}

.pinDiv img {
  height: auto;
  width: 300px;
  cursor: url(../images/sup.png), auto;
}

// Pin Title Font , Centering, and Boldening
.pinDiv p {
  text-align: center;
  font-family: Futura;
  font-style: bold;
  font-size: 2rem;
}

.pinDiv button {
  position: absolute;
}


.savePinDiv button {
  cursor: url(../images/sup.png), auto;
}

.main{
  background: linear-gradient(150deg, rgb(151, 255, 31), #49a9f5) !important;
  min-height: calc(100vh - 100px) !important;
  background-size: auto;
  margin: 50px;
  background-position: fixed;
}
