<label >
   <button class="btn btn-primary" ng-click='togglePin()'>Create A Pin</button>
</label>
 <br />
 <div ng-show="mustShow">
   <div class="col-xs-12 newPinCard">
     <div class="form-group imageDiv">
       <input type="text" class="form-control" ng-model="pin.link" placeholder="Some cool pics" />
     </div>
     <div class="form-group titleDiv">
       <label>Give it a title</label>
       <input type="text" class="form-control" ng-model="pin.title" placeholder="Say something cool" />
     </div>
     <div>
       <a ng-href="https://www.google.com/imghp?hl=en&tab=wi&authuser=0" target ="_blank">
       <button>Search Images</button>
      </a>
     </div>
     <div class="form-group savePinDiv">
       <button class="btn btn-primary" ng-click="SavePin()">Save Pin</button>
     </div>
   </div>
 </div>
 <div class="allPins">
   <div class='pinDiv' ng-repeat="pin in pins">
       <p>{{pin.title}}</p>
       <img src='{{pin.link}}'>
      
        <button ng-click='DeletePin(pin.id)'><i class="far fa-trash-alt"></i></button>
      </div>
    </div>

  


