<div class>
    <div >
        <div class='boardPrev' ng-repeat="board in boards">
            <button class="deleteBoardBtn" ng-click="deleteBoard(board.id)">
                <i class="far fa-trash-alt"></i>
             </button>
           

            <div class='imgBox' ng-click='redirect(board.id)' ng-style="{'background-image':'url({{board.image}})'}">
            <p class='boardTitle'>{{board.title}}</p>

            </div>
            <div>
            </div>
          </div>
      </div>
</div>
            
                    