<label>

  Add Pin
  <input type="checkbox" value="Add Me"  ng-model='mustShow' />
</label>
<br />
<div ng-if="mustShow">
  <div class="col-xs-12 newPinCard">
    <div class="form-group imageDiv">
      <input type="text" class="form-control" ng-model="pin.link" placeholder="Some cool pics" />
    </div>
    <div class="form-group titleDiv">
      <label>Give it a title</label>
      <input type="text" class="form-control" ng-model="pin.title" placeholder="Say something cool" />
    </div>
    <div class="form-group savePinDiv">
      <button ng-click="SavePin()">Save Pin</button>
    </div>
  </div>
</div>
<div class="allPins">
  <div class='pinDiv' ng-repeat="pin in pins">
      <p>{{pin.title}}</p>
      <img src='{{pin.link}}'>
      <button ng-click='DeletePin(pin.id)'>X</button>
    </div>
  </div>
