
<nav class="navbar" ng-controller="NavCtrl">
    
    <div ng-show="isUserActive('/login')"></div>

    <ul class="links">
        <li  ng-repeat="item in navItems">
          <!-- removed href in the <a> tags since we don't want to trigger the load. Left as anchor tag for bootstrap -->
              <a ng-show="{{item.bang}}isLoggedIn" ng-click="navigate(item.url)">{{item.name}}</a>
              <!-- <a href={{item.url}}>{{item.name}}</a> -->
        </li>
      </ul>
    <!-- </div> -->
</nav>



